ol{
    list-style: none;
}

ol, ul {
    list-style: none;
}

.index{

}

.index_category{
    height:auto;
    /*background-color: red;*/
}

.index_information{
    height: auto;
    /*background-color: blue;*/
}

.category_nav{
    background-color: rgba(129,146,214,1);
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    text-align: center;
    margin-left: 15px;
    padding-top:10px;
    height:auto;
}

.category_nav ol{
    list-style: none;
    padding-left:10px;
}

.category_nav .category_nav_item{
    font-size: 18px;
    font-family: 黑体;
    color: #74325c;
    padding:5px;
    margin:10px 0px;
}

.category_nav .category_nav_item a{
    color:#fff;
}

.index_information .carousel-inner .item img{
    height:340px;
    width:600px;
}

.borrowBook{
    background-color: rgba(243,215,181,0.6);
    padding:10px 0px;
    text-align: center;
    height: 340px;
}

.borrowBook_title{
    font-size: 18px;
    color:darkred;
}

.borrowBook .borrowBook_row{

    font-size:13px;
    margin-top:10px;
    margin-bottom:10px;
    margin-right:24px;
}

.borrowBook .borrowBook_row .bookgrade{
    color: red;
}

.index_booklist{
    color: #666;
    height:40px;
    line-height: 40px;
    border-bottom:5px solid rgb(242,117,63);
    margin-top: 10px;
    margin-bottom:10px;
}

.index_booklist .index_booklist_text{
    font-size: 18px;
    background-color: rgb(242,117,63);
    padding:10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.index_information .book_list{
    height:auto;
    margin-top:10px;
    background-color: rgba(255,255,255,0.5);
    padding:10px 0px;
}

.index_information .book_list .book_list_item{
    text-align: center;
}

.index_information .book_list .book_list_item .book_img{
    width:200px;
    height:230px;
}